## List

In [1]:
emptylist = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4)

[1, 'ramu', 24, 1.24]

## List Length

In [2]:
lst = ['one', 'two', 'three', 'four']
# find len of list
len(lst)

4

## List Append

In [4]:
lst = ['one', 'two', 'three', 'four']

lst.append("Five") # append will add the item at the end


print(lst)

['one', 'two', 'three', 'four', 'Five']

## List Insert

In [5]:
lst = ['one', 'two', 'three', 'four']

lst.insert(2,'three')

print(lst)

['one', 'two', 'three', 'three', 'four']

## List Remove

In [6]:
lst = ['one', 'two', 'three', 'four']

lst.remove('two')

print(lst)

['one', 'three', 'four']

## List Append and Extend

In [7]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five','six']

# append
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [8]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five','six']

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

## List Delete

In [9]:
lst = ['one', 'two', 'three', 'four']

del lst[1]

print(lst)

['one', 'three', 'four']

In [12]:
# we can use pop method
lst = ['one', 'two', 'three', 'four']

a = lst.pop(1)
print(a)
print(lst)

two
['one', 'three', 'four']

In [13]:
lst = ['one', 'two', 'three', 'four']

lst.remove('two')

print(lst)

['one', 'three', 'four']

## List Related keywords in Python

In [14]:
lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
    print("AI")

if 'six' not in lst:
    print("ML")

AI
ML

## List Reverse

In [15]:
lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

## List Sorting

In [16]:
numbers = [2,1,4,3,5,6,2,9,7]

sorted_list = sorted(numbers)

print("Sorted list : ",sorted_list)

print("Original list: ", numbers)

Sorted list :  [1, 2, 2, 3, 4, 5, 6, 7, 9]
Original list:  [2, 1, 4, 3, 5, 6, 2, 9, 7]

In [17]:
print("Reverse sorted list: ",sorted(numbers, reverse = True))

print("Original list: ",numbers)

Reverse sorted list:  [9, 7, 6, 5, 4, 3, 2, 2, 1]
Original list:  [2, 1, 4, 3, 5, 6, 2, 9, 7]

In [19]:
lst = [1,20,5,5,4.2]

lst.sort()

print("Sorted list: ",lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [20]:
lst = [1,20,'b',5,'a']
print(lst.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

## List Having Multiple References

In [21]:
lst = [1,2,3,4,5]
abc = lst

abc.append(6)

print("original list: ",lst)

original list:  [1, 2, 3, 4, 5, 6]

## String Split to create a list

In [22]:
s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [23]:
s = "This is applied AI Course"
split_lst = s.split()
print(split_lst)

['This', 'is', 'applied', 'AI', 'Course']

## List Indexing

In [25]:
lst = [1,2,3,4]
print(lst[1])

print(lst[-2])

2
3

## List Slicing

In [27]:
numbers = [10, 20, 30, 40, 50,60,70,80]

print(numbers[:])

# print from index 0 to 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [30]:
print(numbers)

# print alternate elements in a list
print(numbers[::2])


print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

## List Extend using "+"

In [31]:
lst1 = [1,2,3,4]
lst2 = ['Pramit','Shirsendu','Pritam','Rajesh']

new_list = lst1 + lst2
print(new_list)

[1, 2, 3, 4, 'Pramit', 'Shirsendu', 'Pritam', 'Rajesh']

## List Count

In [33]:
numbers = [1,2,3,1,3,4,2,5]

# frequency of 1 in a list
print(numbers.count(1))

# freq of 3 in a list
print(numbers.count(3))

2
2

## List Looping

In [34]:
lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

## List Comprehension

In [35]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
# using list comprehension
squares = [ele**2 for ele in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
lst = [-10, -20, 10, 20, 50]

double_lst = [ele*2 for ele in lst]
print(double_lst)

# filter the list to exclude negative numbers
new_list = [ele for ele in lst if ele > 0]
print(new_list)

#create a list of tuples like (number, square_of_number)
tuple_lst = [(ele,ele**2) for ele in range(10)]
print(tuple_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

## Nested List Comprehensions

In [42]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

# transpose without list comprehension
transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [43]:
# using list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]