## Tuple Creation

In [3]:
# empty tuple
t = ()

# tuple having integer
t = (1,2,3)
print(t)

# tuple with mixed datatypes
t = (1,'raju',28,'abc')
print(t)

# nested tuple
t = (1,(2,3,4),[1,'raju',28,'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [4]:
# need a comma at the end 
t = ("Pramit",)
type(t)

tuple

In [5]:
t = "Pramit",
print(type(t))

<class 'tuple'>

## Accessing Elements in Tuple

In [6]:
t = ('Pramit',"Shirsendu",'Rajesh')

print(t[1])

Shirsendu

In [7]:
# negative indexing
print(t[-1])

Rajesh

In [8]:
# nested tuple
t = ("ABC",('Pramit',"Shirsendu",'Rajesh'))
print(t[1])

('Pramit', 'Shirsendu', 'Rajesh')

In [9]:
print(t[1][1])

Shirsendu

In [10]:
# slicing
t = (1,2,3,4,5,6)
print(t[1:4])

(2, 3, 4)

In [11]:
# print ele form starting to 2nd last elements
print(t[:-2])

(1, 2, 3, 4)

In [12]:
print(t[:])

(1, 2, 3, 4, 5, 6)

## Changing a Tuple

In [13]:
t = (1,2,3,4)

t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [14]:
t = (1, 2, 3, 4, [5, 6, 7])
t[4][1] = "Pramit"
print(t)

(1, 2, 3, 4, [5, 'Pramit', 7])

In [15]:
# concatinating tuples
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [16]:
# repeat element
t = (('Pramit',) * 4)
t

('Pramit', 'Pramit', 'Pramit', 'Pramit')

## Tuple Deletion

In [17]:
t = (1,2,3,4,5,6)
del t

## Tuple Count

In [18]:
t = (1,2,3,1,3,3,4,1)

# get the frequency
t.count(3)

3

## Tuple Index

In [19]:
t = (1,2,3,1,3,3,4,1)

print(t.index(3)) # returns the first index of 3

2

## Tuple Membership

In [21]:
t = (1,2,3,4,5,6)

print(1 in t)

True

In [22]:
print(7 in t)

False

## Built in Functions

### Tuple Length

In [23]:
t = (1,2,3,4,5,6)
print(len(t))

6

### Tuple Sort

In [24]:
t = (4,5,1,2,3)

new_t = sorted(t)
print(new_t)

[1, 2, 3, 4, 5]

In [25]:
# get the max ele
t = (2,5,1,6,9)
print(max(t))

9

In [26]:
# get the min
print(min(t))

1

In [27]:
# get the sum of ele
print(sum(t))

23