# Variable Assignment

In [1]:
# we use = op to assign values
a = 10
b = 20.5 
c = "ML"

# Multiple Assignments

In [2]:
a, b , c = 10, 20.5 , "ML"

In [3]:
a = b = c = "AI"

# Storage Locations

In [4]:
x = 3

print(id(x))

140718148888528

In [5]:
y = 3

print(id(y))

140718148888528

In [6]:
# x and y have the same memory location

In [7]:
y = 2
print(id(y))

140718148888496

# Data Types

## Numbers

In [8]:
a = 5
print(a, "is of type",type(a))

5 is of type <class 'int'>

In [9]:
a = 2.5 
print(a, "is of type",type(a))

2.5 is of type <class 'float'>

## Boolean

In [10]:
a = True
print(type(a))

<class 'bool'>

## Python Strings

In [11]:
s = "This is AI"
print(s)

This is AI

In [13]:
print(s[0])
print(s[-1])

T
I

In [14]:
# slicing
s[5:]

'is AI'

## Python List

In [15]:
a = [10, 20.5 , "Hello"]
print(a[1])

20.5

In [16]:
a[1] = 30.7

In [17]:
a

[10, 30.7, 'Hello']

## Python Tuple

In [18]:
t = (1, 1.5 , "ML")

In [19]:
print(t[1])

1.5

In [21]:
t[1] = 2 # tuples are immutable

TypeError: 'tuple' object does not support item assignment

## Python Set

In [23]:
a = {10,30,20,40,5}  # set are unordered
print(a)

{5, 40, 10, 20, 30}

In [24]:
print(type(a))

<class 'set'>

In [25]:
s = {10,20,20,30,30,30} # set is unordered and have unique values
print(s)

{10, 20, 30}

In [26]:
print(s[1])

TypeError: 'set' object is not subscriptable

## Python Dictionary

In [27]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

## Conversion between Datatypes

In [28]:
float(5)

5.0

In [29]:
int(100.5)

100

In [30]:
str(20)

'20'

Conversion to and from string must contain compatible values.

In [32]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [35]:
user = "Pramit"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code")

Congratulations, Pramit! You just wrote 100 lines of code

We can convert one sequence to other

In [38]:
a = [1,2,3]
print(type(a))

s = set(a)

print(type(s))

<class 'list'>
<class 'set'>

In [39]:
list("Hello")

['H', 'e', 'l', 'l', 'o']